In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as px
import plotly.express as px 

import os 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error 
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import median_absolute_error

## Loading dataset

In [77]:
df = pd.read_csv('Inflation Variaton Rate.csv', encoding='ISO-8859-1')

In [78]:
df

,country,Consumer Price Index,currency,from,End Date:,1 year variation in %,1 month variation in %
0,Argentina,Argentina CPI (Indec),ARS-Argentine peso,1/31/2003,3/31/2023,1.04,0.08
1,Austria,Austrian CPI (Statistik Austria (Vienna)),ATS-Austrian shilling,12/31/1958,3/31/2023,0.09,0.01
2,Australia,Australian CPI (ABS),AUD-Australian dollar,9/30/1948,3/31/2023,0.07,0.00
3,Belgium,Belgian CPI (Directorate-general Statistics an...,BEF-Belgian franc,12/31/1955,4/30/2023,0.06,-0.01
4,Brazil,Brazilian CPI (Instituto Brasileiro de Geograf...,BRL-Brazilian real,1/31/1985,3/31/2023,0.05,0.01
5,Canada,Canadian CPI (Statistics canada),CAD-Canadian dollar,1/31/1989,3/31/2023,0.04,0.01
6,Switzerland,Swiss CPI (Bundesamt f??r Statistik),CHF-Swiss franc,1/31/1983,3/31/2023,0.03,0.00
7,Chile,Chile CPI (Chile - National Statistics Institute),CLP-Chilean peso,12/31/1970,3/31/2023,0.11,0.01
8,Morocco,Moroccan CPI (Haut Commissariat au Plan du Maroc),MAD-Moroccan dirham,11/30/2008,3/31/2023,0.09,0.00
9,Czech Republic,Czech CPI (Czech Republic - Czech Statistical ...,CZK-Czech koruna,12/31/1991,3/31/2023,0.15,0.00
10,Germany,German CPI (Statistisches Bundesamt),DEM-German Deutsche mark,1/31/1991,3/31/2023,0.07,0.01
11,Denmark,Danish CPI (Danmark - Danmarks Statistik),DKK-Danish krone,12/31/1967,3/31/2023,0.07,0.00
12,Algeria,CPI in Algiers (Office National des Statistiqu...,DZD-Algerian dinar,6/30/1969,2/28/2023,0.10,0.01
13,Estonia,Estonia CPI (Estonia - Statistics Estonia),EEK-Estonian kroon,12/31/1998,3/31/2023,0.18,0.01
14,Egypt,Headline CPI in Egypt (Central Bank of Egypt),EGP-Egyptian pound,12/31/1959,3/31/2023,0.33,0.03
15,Spain,Spanish CPI (Spain - Instituto Nacional de Est...,ESP-Spanish peseta,12/31/1955,3/31/2023,0.03,0.00
16,European Union,Euro zone CPI (European Union (Eurostat)),EUR-Euro,1/31/1990,3/31/2023,0.07,0.01
17,Finland,Finnish CPI (Finland - Statistics Finland),FIM-Finnish markka,12/31/1955,3/31/2023,0.08,0.01
18,France,Indice des prix ?치 la consommation (IPC) (INSEE),FRF-French franc,1/31/2001,3/31/2023,0.06,0.01
19,Greece,Greek CPI (Greece - Hellenic statistical autho...,GRD-Greek drachma,12/31/1955,3/31/2023,0.05,0.01
20,Hungary,hungarian CPI (Hungary - Hungarian Central Sta...,HUF-Hungarian forint,12/31/1980,3/31/2023,0.25,0.01
21,Indonesia,Indonesian CPI (Badan Pusat Statistik),IDR-Indonesian rupiah,1/31/1968,3/31/2023,0.05,0.00
22,Ireland,Irish CPI (Ireland - Central Statistics Office...,IEP-Irish punt,12/31/1976,3/31/2023,0.08,0.01
23,Israel,Israeli CPI (Israel - Central Bureau of Statis...,ILS-Israeli new shekel,12/31/1970,3/31/2023,0.05,0.00
24,India,Indian CPI (Ministry of Statistics and Program...,INR-Indian rupee,1/31/1957,3/31/2023,0.06,0.00
25,Iceland,Iceland CPI (Statistics Iceland),ISK-Icelandic kr칩na,12/31/1975,3/31/2023,0.10,0.01
26,Italy,Italian CPI (Istituto Nazionale di Statistica),ITL-Italian lira,17 March 1861,3/31/2023,0.08,0.00
27,Japan,Japan CPI (Japan Statistics Bureau),JPY-Japanese yen,1/31/1970,3/31/2023,0.03,0.00
28,Kenya,CPI in Kenya (Kenya National Bureau of Statist...,KES-Kenyan shilling,12/31/1961,3/31/2023,0.09,0.01
29,South Korea,South Korea CPI (Statistics Korea),KRW-South Korean won,1/31/1952,4/30/2023,0.04,0.00
30,Luxembourg,Luxembourg CPI (Luxembourg - Service Central d...,LUF-Luxembourg franc,12/31/1955,3/31/2023,0.04,0.00
31,Mexico,Mexican CPI (Instituto Nacional de Estadistics...,MXN-Mexican peso,1/31/1969,3/31/2023,0.07,0.00
32,Malaysia,"Malaysia CPI (Department of Statistics, Malaysia)",MYR-Malaysian ringgit,6/30/1980,3/31/2023,0.03,0.00
33,Netherlands,Dutch CPI (The Netherlands - Centraal Bureau v...,NLG-Netherlands guilder,12/31/1961,3/31/2023,0.04,0.00
34,Norway,Norvegian CPI (Norway - Statistics Norway),NOK-Norwegian krone,12/31/1955,3/31/2023,0.07,0.01
35,New Zealand,New Zealand CPI (Stats NZ),NZD-New Zealand dollar,3/31/2000,3/31/2023,0.07,0.00
36,Poland,Polish CPI (Poland - Central Statistical Offic...,PLN-Polish zloty,12/31/1989,3/31/2023,0.17,0.01
37,Portugal,Portuguese CPI (Portugal - Instituto Nacional ...,PTE-Portguese escudo,12/31/1955,3/31/2023,0.07,0.02
38,Russian Federation,Russian CPI (Russian Federal State Statistics ...,RUB-Russian ruble,1/31/1992,3/31/2023,0.04,0.00
39,Sweden,Swedish CPI (Statistics Sweden (SCB)),SEK-Swedish krona,1/31/1955,3/31/2023,0.11,0.01
40,Slovakia,Slovak CPI (Slovakia - Statistical Office of t...,SKK-Slovak koruna,12/31/1991,3/31/2023,0.15,0.01
41,Slovenia,Slovenian CPI (Slovenia - Statistical Office o...,SIT-Slovenian tolar,12/31/1980,3/31/2023,0.11,0.00
42,Thailand,TH CPI (Bureau of Trade and Economic indices),THB-Thai baht,1/31/1976,3/31/2023,0.03,0.00
43,Tunisia,CPI in Tunisia (Institut National des Statisti...,TND-Tunisian dinar,12/31/1983,3/31/2023,0.10,0.01
44,Turkey,Turkish CPI (Turkey - Turkish Statistical Inst...,TRY-Turkish lira,12/31/1955,3/31/2023,0.51,0.02
45,Great Britain - UK,UK CPI (Office for National Statistics (ONS)),GBP-Pound sterling,30 June 1688,3/31/2023,0.09,0.01
46,United States,US CPI (Bureau of Labor Statistics),USD-US dollar,1/31/2013,3/31/2023,0.05,0.00
47,South Africa,South African CPI (Statistics South Africa),ZAR-South African rand,1/31/1957,3/31/2023,0.07,0.01
48,China,Chinese CPI (OECD),CNY-Chinese yuan renminbi (RMB),1/31/1993,3/31/2023,0.01,0.00

## Observe coorlation between columns

In [79]:
df.corr()

                        1 year variation in %  1 month variation in %
1 year variation in %                1.000000                0.885821
1 month variation in %               0.885821                1.000000

In [80]:
#plt.figure(figsize=(8,2))
#sns.heatmap(df.corr(),annot = True, linewidths=.5)  # variables are high not correlated to each other

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 49 non-null     object
 1   Consumer Price Index    49 non-null     object
 2   currency                49 non-null     object
 3   from                    49 non-null     object
 4   End Date:               49 non-null     object
 5   1 year variation in %   49 non-null     float64
 6   1 month variation in %  49 non-null     float64
dtypes: float64(2), object(5)
memory usage: 2.8+ KB

In [82]:
# Convert 'from' and 'End Date:' columns to datetime format
df['from'] = pd.to_datetime(df['from'])
df['End Date:'] = pd.to_datetime(df['End Date:'])

In [83]:
df.head()

,country,Consumer Price Index,currency,from,End Date:,1 year variation in %,1 month variation in %
0,Argentina,Argentina CPI (Indec),ARS-Argentine peso,2003-01-31,2023-03-31,1.04,0.08
1,Austria,Austrian CPI (Statistik Austria (Vienna)),ATS-Austrian shilling,1958-12-31,2023-03-31,0.09,0.01
2,Australia,Australian CPI (ABS),AUD-Australian dollar,1948-09-30,2023-03-31,0.07,0.00
3,Belgium,Belgian CPI (Directorate-general Statistics an...,BEF-Belgian franc,1955-12-31,2023-04-30,0.06,-0.01
4,Brazil,Brazilian CPI (Instituto Brasileiro de Geograf...,BRL-Brazilian real,1985-01-31,2023-03-31,0.05,0.01

In [84]:
df.describe()

       1 year variation in %  1 month variation in %
count              49.000000               49.000000
mean                0.110816                0.007347
std                 0.159136                0.012711
min                 0.010000               -0.010000
25%                 0.050000                0.000000
50%                 0.070000                0.010000
75%                 0.100000                0.010000
max                 1.040000                0.080000

In [85]:
#df.columns

In [86]:
#df.boxplot()

In [87]:
df.loc[:, ['1 year variation in %']].mean()

1 year variation in %    0.110816
dtype: float64

In [88]:
df.corr()

                        1 year variation in %  1 month variation in %
1 year variation in %                1.000000                0.885821
1 month variation in %               0.885821                1.000000

In [89]:
#Boxplot for Month by Weekly Sales: (Outliers obviously shown at October,November and December)
#fig=px.box(df,x=df['1 year variation in %'],y=df['Consumer Price Index'])
#fig.show()

## Removing column due to high correlation

In [90]:
df.drop(['1 month variation in %'],axis=1,inplace=True)

In [91]:
#df

## Encoding Data

In [92]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [93]:
# Convert categorical variables into numerical format using label encoding
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
cols_to_encode = ['country', 'Consumer Price Index', 'currency', 'from', 'End Date:', '1 year variation in %']
df[cols_to_encode] = oe.fit_transform(df[cols_to_encode])

In [94]:
#df

In [95]:
df.columns

Index(['country', 'Consumer Price Index', 'currency', 'from', 'End Date:',
       '1 year variation in %'],
      dtype='object')

## Scaling

In [96]:
from sklearn.preprocessing import MinMaxScaler
Scale = MinMaxScaler()
df[['country','currency','from','End Date:','Consumer Price Index']]=Scale.fit_transform(df[['country','currency','from','End Date:','Consumer Price Index']])

In [97]:
#df

## specify x and y

In [98]:
y = df.iloc[::,-1]
#y

In [99]:
#Drop the target y
df.drop(['1 year variation in %'],axis=1,inplace=True)  
#df

In [100]:
df.columns

Index(['country', 'Consumer Price Index', 'currency', 'from', 'End Date:'], dtype='object')

In [101]:
X = df.iloc[:,:]
X.shape

(49, 5)

In [102]:
df.corr()

,country,Consumer Price Index,currency,from,End Date:
country,1.000000,0.785510,0.857041,-0.036837,0.122893
Consumer Price Index,0.785510,1.000000,0.665918,-0.060082,0.081929
currency,0.857041,0.665918,1.000000,-0.025147,-0.017556
from,-0.036837,-0.060082,-0.025147,1.000000,-0.162914
End Date:,0.122893,0.081929,-0.017556,-0.162914,1.000000

# Build Model

In [103]:
# Split data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=2, random_state=48)

## fitting model to trainig

In [104]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [105]:
print('Linear Regression Train Score is :' ,lr_model.score(X_train,y_train))
print('Linear Regression Test Score is :' , lr_model.score(X_test,y_test))

Linear Regression Train Score is : 0.09880986878508546
Linear Regression Test Score is : 0.8622579638039235

## predict the test dataset

In [106]:
y_pred =lr_model.predict( X_test)

In [107]:
#coofficient 
print(lr_model.coef_)

[-8.29648511  2.17529339  5.39923277  1.0955094  -2.21997453]

In [108]:
#intercept
print(lr_model.intercept_)

6.825473932060281

## evaluating model

In [109]:
#Calculating Mean Absolute Error
MAEValue = mean_absolute_error(y_test, y_pred, multioutput='uniform_average') 
print('Mean Absolute Error Value is : ', MAEValue)

Mean Absolute Error Value is :  0.5564517457417568

In [110]:
#Calculating Mean Squared Error
MSEValue = mean_squared_error(y_test, y_pred, multioutput='uniform_average') 
print('Mean Squared Error Value is : ', MSEValue)

Mean Squared Error Value is :  0.30991958144117204

In [111]:
#Calculating Median Absolute Error
MdSEValue = median_absolute_error(y_test, y_pred)
print('Median Absolute Error Value is : ', MdSEValue )

Median Absolute Error Value is :  0.5564517457417568

In [112]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8622579638039235

In [113]:
R2_accurecy = r2_score(y_test,y_pred)

In [123]:
print(np.round (R2_accurecy*100,2))

86.23

In [ ]:
#Hazem Adel Elbatawy

In [ ]:
"""It's difficult to say whether these scores are good or bad for the model without knowing more about the specific 
problem and the scale of the target variable. However, in general:

- A lower Mean Absolute Error (MAE) value indicates better predictive performance of the model. 
The MAE value you obtained is 0.556, which means that on average, the model's predictions are off
by 0.556 units from the actual values.

- A lower Mean Squared Error (MSE) value also indicates better predictive performance of the model.
 The MSE value you obtained is 0.3099, which means that the model's predictions have less variance from the actual values.

- A lower Median Absolute Error (MdAE) value indicates better predictive performance of the model. 
  The MdAE value you obtained is 0.556, which means that the median prediction error of the model is 0.556 units.

- An R-squared (R2) score of 0.8622 indicates that the model explains 86.22% of the variability in the target variable 
 around its mean. This is a good score, but it's important to note that R2 score alone should not be used to evaluate the
 model's performance.

Overall, these scores suggest that the model has some predictive power, but it's important to compare these scores 
with the performance of other models or with a baseline performance to get a sense of how well your model is performing."""
""